# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
LogitechSteeringWheelSDK_8.75.30/
KeyboardControl/
*.ipch
*.obj
*.tlog
*.log
*.pdb
*.ilk
SteeringWheelTest/Include/LogitechGSDK.cs
SteeringWheelTest/.vs/SteeringWheelTest/v15/.suo
SteeringWheelTest/.vs/SteeringWheelTest/v15/Browse.VC.db
SteeringWheelTest/.vs/SteeringWheelTest/v15/Browse.VC.opendb
SteeringWheelTest/GeneratedFiles/
